.logo-name{
    color: #e6e6e6;
    font-size: 80px;
    font-weight: 800;
}
.loginscreen h3{
    color: rgb(103, 106, 108)!important;
}
.loginscreen p{
    color: #676a6c;
}
.gray-bg {
    background-color: #f3f3f4;
    padding-top: 10%;
}

.middle-box {
    width: 300px;
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 40px;
}
.login-btn {
    display: block !important;
    margin-bottom: 15px!important;
    background-color: #1ab394!important;
    border-color: #1ab394!important;
    color: #FFFFFF!important;
    width: 100%;
}
