<div class="form-group">
  <label>标题<span class="pre-flag">*</span></label>
  <%= f.text_field :title,class: "form-control" ,maxlength: 30 %>
  <%= f.text_area :content ,style: "display:none;" %>
</div>
<div id="page-content"></div>
