<div class="row">
  <div class="col-lg-1 col-xs-1"></div>
  <div class="col-lg-10 col-xs-10">
    <h3 class="page-header">修改页面</h3>
    <%= form_for(@page, {url: admins_page_path(@page), role: "form"}) do |f| %>
        <%= render partial: 'form', locals: {page: @page, f: f} %>
    <% end %>
  </div>
  <div class="col-lg-1 col-xs-1"></div>
</div>

<script type="text/javascript">

  // 为页面所有的editor配置全局的密钥
  wangEditor.config.mapAk = '2g3gNoUjPw1HCyRpYZr8IRYzoCNaDj2y';

  var editor = new wangEditor('page-content');
  var en_editor = new wangEditor('en-page-content');
  // 普通的自定义菜单
  //  editor.config.menus = [
  //    'source',
  //    '|',     // '|' 是菜单组的分割线
  //    'bold',
  //    'underline',
  //    'italic',
  //    'strikethrough',
  //    'eraser',
  //    'forecolor',
  //    'bgcolor'
  //  ];
  //  en_editor.config.menus = [
  //    'source',
  //    '|',     // '|' 是菜单组的分割线
  //    'bold',
  //    'underline',
  //    'italic',
  //    'strikethrough',
  //    'eraser',
  //    'forecolor',
  //    'bgcolor'
  //  ];
  //上传文件配置
  editor.config.uploadImgUrl = '/admin/pages/upload_img';
  editor.config.uploadImgFileName = 'img';
  en_editor.config.uploadImgUrl = '/admin/pages/upload_img';
  en_editor.config.uploadImgFileName = 'img';
  // 仅仅想移除某几个菜单，例如想移除『插入代码』和『全屏』菜单：
  // 其中的 wangEditor.config.menus 可获取默认情况下的菜单配置
  editor.config.menus = $.map(wangEditor.config.menus, function(item, key) {
    if (item === 'location' || item === 'fullscreen' || item === 'video') {
      return null;
    }
    return item;
  });
  en_editor.config.menus = $.map(wangEditor.config.menus, function(item, key) {
    if (item === 'location' || item === 'fullscreen' || item === 'video') {
      return null;
    }
    return item;
  });
  editor.create();
  en_editor.create();
  editor.$editorContainer.css('z-index', 20);
  en_editor.$editorContainer.css('z-index', 10);


  function submitForm() {
    $("#page_content").val(editor.$txt.html());
    $("#page_en_content").val(en_editor.$txt.html());
    $("form").submit();
  }
  $(document).ready(function () {
    editor.$txt.html($("#page_content").val());
    en_editor.$txt.html($("#page_en_content").val());
  });
</script>