<div class="col-md-12 col-xs-12">
  <div class="footer" style="margin-top:20px;">
    ©2007-<%= Time.now.year %>
    Sichuan Push Acetati Co.,Ltd.&nbsp;&nbsp;All rights reserved
    &nbsp;&nbsp;<a href="/en/disclaimer" style="font-size:1em;color:#5c5c5c;">Disclaimer</a>
    &nbsp;&nbsp;<a href="http://www.chinaido.com" target="_blank">(Designed by Chinaido)</a></div>
</div>