<div class="row">
  <div class="col-md-1 col-xs-1"></div>
  <div class="col-md-10 col-xs-10">

    <div class="con">

      <div class="row" style="margin-top:45px;">
        <div class="col-md-6">
          <!-- 反馈表 -->
          <form id="feedback" role="form" method="post" novalidate="novalidate" class="fv-form fv-form-bootstrap"><button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
            <input type="hidden" name="_token" value="NqnZaRnMeBxgnc8OxIfjktzqak1QFDS4smmcqtAd">
            <span class="help-block">我们致力于提供最高水平的客户服务。请填写以下表单，详细描述您的需求，然后点击（提交）按钮。我们期待能为您提供帮助。</span>
            <br>
            <div class="form-group">
              <label>姓名</label>
              <input type="text" name="name" class="form-control" placeholder="" data-fv-notempty="true" data-fv-notempty-message="必填项" data-fv-field="name">
              <small class="help-block" data-fv-validator="notEmpty" data-fv-for="name" data-fv-result="NOT_VALIDATED" style="display: none;">必填项</small></div>
            <div class="form-group">
              <label>公司/机构名称</label>
              <input type="text" name="company" class="form-control" placeholder="">
            </div>
            <div class="form-group">
              <label>联络电话</label>
              <input type="text" name="telephone" class="form-control" placeholder="">
            </div>
            <div class="form-group">
              <label>电子邮件</label>
              <input type="email" name="email" class="form-control" placeholder="" data-fv-notempty="true" data-fv-notempty-message="必填项" data-fv-emailaddress-message="邮箱格式不正确" data-fv-field="email">
              <small class="help-block" data-fv-validator="emailAddress" data-fv-for="email" data-fv-result="NOT_VALIDATED" style="display: none;">邮箱格式不正确</small><small class="help-block" data-fv-validator="notEmpty" data-fv-for="email" data-fv-result="NOT_VALIDATED" style="display: none;">必填项</small></div>
            <div class="form-group">
              <label>主题</label>
              <select name="subject" class="form-control" data-fv-notempty="true" data-fv-notempty-message="必选项" data-fv-field="subject">
                <option value="">请选择</option>
                <option value="产品咨询">产品咨询</option>
                <option value="商务合作">商务合作</option>
                <option value="网站建议">网站建议</option>
                <option value="投诉举报">投诉举报</option>
                <option value="其他">其他</option>
              </select>
              <small class="help-block" data-fv-validator="notEmpty" data-fv-for="subject" data-fv-result="NOT_VALIDATED" style="display: none;">必选项</small></div>
            <div class="form-group">
              <label>详细内容</label>
              <textarea name="content" class="form-control" rows="10" style="height:auto;" data-fv-notempty="true" data-fv-notempty-message="必填项" data-fv-field="content"></textarea>
              <small class="help-block" data-fv-validator="notEmpty" data-fv-for="content" data-fv-result="NOT_VALIDATED" style="display: none;">必填项</small></div>

            <button type="submit" class="btn btn-default">提交</button>
          </form>
        </div>

        <div class="col-md-5 col-md-offset-1">
          <!-- 联系我们内容 -->
          <div>
            <div style="margin: auto; height: 300px; overflow: hidden; position: relative; z-index: 0; background-color: rgb(243, 241, 236); color: rgb(0, 0, 0); text-align: left;" id="map"><div style="overflow: visible; position: absolute; z-index: 0; left: 0px; top: 0px; cursor: url(&quot;http://api0.map.bdimg.com/images/openhand.cur&quot;) 8 8, default;"><div class="BMap_mask" style="position: absolute; left: 0px; top: 0px; z-index: 9; overflow: hidden; user-select: none; width: 483px; height: 300px;"></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 200;"><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 800;"></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 700;"><span class="BMap_Marker BMap_noprint" unselectable="on" "="" style="position: absolute; padding: 0px; margin: 0px; border: 0px; cursor: pointer; background: url(&quot;http://api0.map.bdimg.com/images/blank.gif&quot;); width: 19px; height: 25px; left: 227px; top: 64px; z-index: -5722500;" title=""></span></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 600;"></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 500;"><label class="BMapLabel" unselectable="on" style="position: absolute; display: none; cursor: inherit; background-color: rgb(190, 190, 190); border: 1px solid rgb(190, 190, 190); padding: 1px; white-space: nowrap; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: arial, sans-serif; z-index: -20000; color: rgb(190, 190, 190);">shadow</label></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 400;"><span class="BMap_Marker" unselectable="on" style="position: absolute; padding: 0px; margin: 0px; border: 0px; width: 0px; height: 0px; left: 227px; top: 64px; z-index: -5722500;"><div style="position: absolute; margin: 0px; padding: 0px; width: 19px; height: 25px; overflow: hidden;"><img src="http://api0.map.bdimg.com/images/marker_red_sprite.png" style="display: block; border:none;margin-left:0px; margin-top:0px; "></div></span></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 300;"><span unselectable="on" style="position: absolute; padding: 0px; margin: 0px; border: 0px; width: 20px; height: 11px; left: 231px; top: 78px;"><div style="position: absolute; margin: 0px; padding: 0px; width: 20px; height: 11px; overflow: hidden;"><img src="http://api0.map.bdimg.com/images/marker_red_sprite.png" style="display: block; border:none;margin-left:-19px; margin-top:-13px; "></div></span></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 201;"></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 200;"></div></div><div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 1;"><div style="position: absolute; overflow: visible; z-index: -100; left: 241px; top: 150px; display: block; transform: translate3d(0px, 0px, 0px);"><img src="http://online3.map.bdimg.com/tile/?qt=tile&amp;x=178&amp;y=50&amp;z=10&amp;styles=pl&amp;scaler=1&amp;udt=20170408" style="position: absolute; border: none; width: 256px; height: 256px; left: -68px; top: -203px; max-width: none; opacity: 1;"><img src="http://online2.map.bdimg.com/tile/?qt=tile&amp;x=178&amp;y=49&amp;z=10&amp;styles=pl&amp;scaler=1&amp;udt=20170408" style="position: absolute; border: none; width: 256px; height: 256px; left: -68px; top: 53px; max-width: none; opacity: 1;"><img src="http://online1.map.bdimg.com/tile/?qt=tile&amp;x=177&amp;y=49&amp;z=10&amp;styles=pl&amp;scaler=1&amp;udt=20170408" style="position: absolute; border: none; width: 256px; height: 256px; left: -324px; top: 53px; max-width: none; opacity: 1;"><img src="http://online4.map.bdimg.com/tile/?qt=tile&amp;x=179&amp;y=50&amp;z=10&amp;styles=pl&amp;scaler=1&amp;udt=20170408" style="position: absolute; border: none; width: 256px; height: 256px; left: 188px; top: -203px; max-width: none; opacity: 1;"><img src="http://online2.map.bdimg.com/tile/?qt=tile&amp;x=177&amp;y=50&amp;z=10&amp;styles=pl&amp;scaler=1&amp;udt=20170408" style="position: absolute; border: none; width: 256px; height: 256px; left: -324px; top: -203px; max-width: none; opacity: 1;"><img src="http://online3.map.bdimg.com/tile/?qt=tile&amp;x=179&amp;y=49&amp;z=10&amp;styles=pl&amp;scaler=1&amp;udt=20170408" style="position: absolute; border: none; width: 256px; height: 256px; left: 188px; top: 53px; max-width: none; opacity: 1;"></div></div><div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 2; display: none; visibility: hidden;"><div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 0; display: none;"></div></div><div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 3;"></div></div><div class="pano_close" title="退出全景" style="z-index: 1201; display: none;"></div><a class="pano_pc_indoor_exit" title="退出室内景" style="z-index: 1201; display: none;"><span style="float:right;margin-right:12px;">出口</span></a><div class=" anchorBL" style="height: 32px; position: absolute; z-index: 30; text-size-adjust: none; bottom: 20px; right: auto; top: auto; left: 1px;"><a title="到百度地图查看此区域" target="_blank" href="http://map.baidu.com/?sr=1" style="outline: none;"><img style="border:none;width:77px;height:32px" src="http://api0.map.bdimg.com/images/copyright_logo.png"></a></div><div id="zoomer" style="position:absolute;z-index:0;top:0px;left:0px;overflow:hidden;visibility:hidden;cursor:url(http://api0.map.bdimg.com/images/openhand.cur) 8 8,default"><div class="BMap_zoomer" style="top:0;left:0;"></div><div class="BMap_zoomer" style="top:0;right:0;"></div><div class="BMap_zoomer" style="bottom:0;left:0;"></div><div class="BMap_zoomer" style="bottom:0;right:0;"></div></div><div unselectable="on" class=" BMap_stdMpCtrl BMap_stdMpType0 BMap_noprint anchorTL" style="width: 62px; height: 192px; bottom: auto; right: auto; top: 10px; left: 10px; position: absolute; z-index: 1100; text-size-adjust: none;"><div class="BMap_stdMpPan" style="background-position: 0px 0px;"><div class="BMap_button BMap_panN" title="向上平移"></div><div class="BMap_button BMap_panW" title="向左平移"></div><div class="BMap_button BMap_panE" title="向右平移"></div><div class="BMap_button BMap_panS" title="向下平移"></div><div class="BMap_stdMpPanBg BMap_smcbg"></div></div><div class="BMap_stdMpZoom" style="height: 147px; width: 62px;"><div class="BMap_button BMap_stdMpZoomIn" title="放大一级"><div class="BMap_smcbg"></div></div><div class="BMap_button BMap_stdMpZoomOut" title="缩小一级" style="top: 126px;"><div class="BMap_smcbg"></div></div><div class="BMap_stdMpSlider" style="height: 108px;"><div class="BMap_stdMpSliderBgTop" style="height: 108px;"><div class="BMap_smcbg"></div></div><div class="BMap_stdMpSliderBgBot" style="top: 55px; height: 57px;"></div><div class="BMap_stdMpSliderMask" title="放置到此级别"></div><div class="BMap_stdMpSliderBar" title="拖动缩放" style="cursor: url(&quot;http://api0.map.bdimg.com/images/openhand.cur&quot;) 8 8, default; top: 55px;"><div class="BMap_smcbg"></div></div></div><div class="BMap_zlHolder"><div class="BMap_zlSt"><div class="BMap_smcbg"></div></div><div class="BMap_zlCity"><div class="BMap_smcbg"></div></div><div class="BMap_zlProv"><div class="BMap_smcbg"></div></div><div class="BMap_zlCountry"><div class="BMap_smcbg"></div></div></div></div><div class="BMap_stdMpGeolocation" style="position: initial; display: none; margin-top: 43px; margin-left: 10px;"><div class="BMap_geolocationContainer" style="position: initial; width: 24px; height: 24px; overflow: hidden; margin: 0px; box-sizing: border-box;"><div class="BMap_geolocationIconBackground" style="width: 24px; height: 24px; background-image: url(http://api0.map.bdimg.com/images/navigation-control/geolocation-control/pc/bg-20x20.png); background-size: 20px 20px; background-position: 3px 3px; background-repeat: no-repeat;"><div class="BMap_geolocationIcon" style="position: initial; width: 24px; height: 24px; cursor: pointer; background-image: url('http://api0.map.bdimg.com/images/navigation-control/geolocation-control/pc/success-10x10.png'); background-size: 10px 10px; background-repeat: no-repeat; background-position: center;"></div></div></div></div></div><div unselectable="on" class=" BMap_scaleCtrl BMap_noprint anchorBR" style="bottom: 18px; right: 81px; top: auto; left: auto; width: 94px; position: absolute; z-index: 10; text-size-adjust: none;"><div class="BMap_scaleTxt" unselectable="on" style="background-color: transparent; color: black;">20&nbsp;公里</div><div class="BMap_scaleBar BMap_scaleHBar" style="background-color: black;"><img style="border:none" src="http://api0.map.bdimg.com/images/mapctrls.png"></div><div class="BMap_scaleBar BMap_scaleLBar" style="background-color: black;"><img style="border:none" src="http://api0.map.bdimg.com/images/mapctrls.png"></div><div class="BMap_scaleBar BMap_scaleRBar" style="background-color: black;"><img style="border:none" src="http://api0.map.bdimg.com/images/mapctrls.png"></div></div><div unselectable="on" class=" BMap_cpyCtrl BMap_noprint anchorBL" style="cursor: default; white-space: nowrap; color: black; background: none; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 11px; line-height: 15px; font-family: arial, sans-serif; bottom: 2px; right: auto; top: auto; left: 2px; position: absolute; z-index: 10; text-size-adjust: none;"><span _cid="1" style="display: inline;"><span style="background: rgba(255, 255, 255, 0.701961);padding: 0px 1px;line-height: 16px;display: inline;height: 16px;">©&nbsp;2017 Baidu - GS(2015)2650号&nbsp;- Data © 长地万方</span></span></div></div>
            <br>
            <p><strong>四川普什醋酸纤维素有限责任公司</strong></p>
            <p>地址：四川省宜宾市长宁县宋家坝工业集中区<br>邮编：644300</p>
            <p>人力资源联系方式：</p>
            <p>谭女士：0831-4633106</p>
            <p>Email：<a href="mailto:hr@pacetati.com">hr@pacetati.com</a></p>
            <p>&nbsp;</p>
            <p>采购联系方式：</p>
            <p>唐女士：0831-4633068</p>
            <p>龙女士：0831-4633112</p>
            <p>&nbsp;</p>
            <p>市场营销联系方式：</p>
            <p>范女士：+86-0831-4633013</p>
            <p>陈女士：+86-0831-4633015</p>
            <p>邮箱：<a href="mailto:info@pacetati.com">info@pacetati.com</a></p>
            <p><%= image_tag "wechat.jpg",{width: 116, height: 118}%></p>
          </div>
        </div>
      </div>



      <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=2g3gNoUjPw1HCyRpYZr8IRYzoCNaDj2y"></script><script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&amp;ak=CzsF67xgx1F0wsWGIjY0dp5I&amp;services=&amp;t=20170411141812"></script>
      <script type="text/javascript">
        //http://api.map.baidu.com/lbsapi/getpoint/index.html 百度拾取坐标系统
        // 百度地图API功能
        var map = new BMap.Map("map");

        map.enableScrollWheelZoom();
        // 显示并居中地图
        map.centerAndZoom(new BMap.Point(121.360347,31.225334), 15);
        // 缩放控件
        map.addControl(new BMap.NavigationControl({ anchor: BMAP_ANCHOR_TOP_LEFT }));
        // 比例尺控件
        map.addControl(new BMap.ScaleControl({ anchor: BMAP_ANCHOR_BOTTOM_RIGHT }));

        // 标记信息
        var markersInfo = [
          { lng:121.360347, lat:31.225334, content:'<strong>上海敖沣企业发展有限公司</strong><br />地址：上海市天山西路1068号联强国际D座6楼<br />电话：400-062-6600' }
        ];

        // 创建标注
        function addMarker(markersInfo) {
          var marker, point, infoWindow;

          // 添加标志
          point = new BMap.Point(markersInfo.lng, markersInfo.lat);
          marker = new BMap.Marker(point);
          map.addOverlay(marker);
          //创建信息窗口
          var infoWindow = new BMap.InfoWindow(markersInfo.content);
          marker.addEventListener('click', function(){ this.openInfoWindow(infoWindow); });
        }

        for (var i = 0; i < markersInfo.length; i++) {
          addMarker(markersInfo[i]);
        }
      </script>


      <script type="text/javascript">
        $(function() {
          var $form = $('#feedback');
          // $form.formValidation();
        });
      </script>
    </div>

  </div>
  <div class="col-md-1 col-xs-1"></div>
</div>