<div class="row">
  <div class="col-md-1 col-xs-1"></div>
  <div class="col-md-10 col-xs-10">

    <div class="con">

      <div class="row" style="margin-top:45px;">
        <div class="col-md-6">
          <!-- 反馈表 -->
          <form id="feedback" role="form" method="post" novalidate="novalidate" class="fv-form fv-form-bootstrap"><button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
            <input type="hidden" name="_token" value="NqnZaRnMeBxgnc8OxIfjktzqak1QFDS4smmcqtAd">
            <span class="help-block">我们致力于提供最高水平的客户服务。请填写以下表单，详细描述您的需求，然后点击（提交）按钮。我们期待能为您提供帮助。</span>
            <br>
            <div class="form-group">
              <label>姓名</label>
              <input type="text" name="name" class="form-control" placeholder="" data-fv-notempty="true" data-fv-notempty-message="必填项" data-fv-field="name">
              <small class="help-block" data-fv-validator="notEmpty" data-fv-for="name" data-fv-result="NOT_VALIDATED" style="display: none;">必填项</small></div>
            <div class="form-group">
              <label>公司/机构名称</label>
              <input type="text" name="company" class="form-control" placeholder="">
            </div>
            <div class="form-group">
              <label>联络电话</label>
              <input type="text" name="telephone" class="form-control" placeholder="">
            </div>
            <div class="form-group">
              <label>电子邮件</label>
              <input type="email" name="email" class="form-control" placeholder="" data-fv-notempty="true" data-fv-notempty-message="必填项" data-fv-emailaddress-message="邮箱格式不正确" data-fv-field="email">
              <small class="help-block" data-fv-validator="emailAddress" data-fv-for="email" data-fv-result="NOT_VALIDATED" style="display: none;">邮箱格式不正确</small><small class="help-block" data-fv-validator="notEmpty" data-fv-for="email" data-fv-result="NOT_VALIDATED" style="display: none;">必填项</small></div>
            <div class="form-group">
              <label>主题</label>
              <select name="subject" class="form-control" data-fv-notempty="true" data-fv-notempty-message="必选项" data-fv-field="subject">
                <option value="">请选择</option>
                <option value="产品咨询">产品咨询</option>
                <option value="商务合作">商务合作</option>
                <option value="网站建议">网站建议</option>
                <option value="投诉举报">投诉举报</option>
                <option value="其他">其他</option>
              </select>
              <small class="help-block" data-fv-validator="notEmpty" data-fv-for="subject" data-fv-result="NOT_VALIDATED" style="display: none;">必选项</small></div>
            <div class="form-group">
              <label>详细内容</label>
              <textarea name="content" class="form-control" rows="10" style="height:auto;" data-fv-notempty="true" data-fv-notempty-message="必填项" data-fv-field="content"></textarea>
              <small class="help-block" data-fv-validator="notEmpty" data-fv-for="content" data-fv-result="NOT_VALIDATED" style="display: none;">必填项</small></div>

            <button type="submit" class="btn btn-default">提交</button>
          </form>
        </div>

        <div class="col-md-5 col-md-offset-1">
          <!-- 联系我们内容 -->
          <div>
            <div style="margin: auto; height: 300px; overflow: hidden; position: relative; z-index: 0; background-color: rgb(243, 241, 236); color: rgb(0, 0, 0); text-align: left;" id="map"></div>
            <br>
            <p><strong>四川普什醋酸纤维素有限责任公司</strong></p>
            <p>地址：四川省宜宾市长宁县宋家坝工业集中区<br>邮编：644300</p>
            <p>人力资源联系方式：</p>
            <p>谭女士：0831-4633106</p>
            <p>Email：<a href="mailto:hr@pacetati.com">hr@pacetati.com</a></p>
            <p>&nbsp;</p>
            <p>采购联系方式：</p>
            <p>唐女士：0831-4633068</p>
            <p>龙女士：0831-4633112</p>
            <p>&nbsp;</p>
            <p>市场营销联系方式：</p>
            <p>范女士：+86-0831-4633013</p>
            <p>陈女士：+86-0831-4633015</p>
            <p>邮箱：<a href="mailto:info@pacetati.com">info@pacetati.com</a></p>
            <p><%= image_tag "wechat.jpg",{width: 116, height: 118}%></p>
          </div>
        </div>
      </div>



      <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=2g3gNoUjPw1HCyRpYZr8IRYzoCNaDj2y"></script><script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&amp;ak=CzsF67xgx1F0wsWGIjY0dp5I&amp;services=&amp;t=20170411141812"></script>
      <script type="text/javascript">
        //http://api.map.baidu.com/lbsapi/getpoint/index.html 百度拾取坐标系统
        // 百度地图API功能
        var map = new BMap.Map("map");

        map.enableScrollWheelZoom();
        // 显示并居中地图
        map.centerAndZoom(new BMap.Point(121.360347,31.225334), 15);
        // 缩放控件
        map.addControl(new BMap.NavigationControl({ anchor: BMAP_ANCHOR_TOP_LEFT }));
        // 比例尺控件
        map.addControl(new BMap.ScaleControl({ anchor: BMAP_ANCHOR_BOTTOM_RIGHT }));

        // 标记信息
        var markersInfo = [
          { lng:121.360347, lat:31.225334, content:'<strong>上海敖沣企业发展有限公司</strong><br />地址：上海市天山西路1068号联强国际D座6楼<br />电话：400-062-6600' }
        ];

        // 创建标注
        function addMarker(markersInfo) {
          var marker, point, infoWindow;

          // 添加标志
          point = new BMap.Point(markersInfo.lng, markersInfo.lat);
          marker = new BMap.Marker(point);
          map.addOverlay(marker);
          //创建信息窗口
          var infoWindow = new BMap.InfoWindow(markersInfo.content);
          marker.addEventListener('click', function(){ this.openInfoWindow(infoWindow); });
        }

        for (var i = 0; i < markersInfo.length; i++) {
          addMarker(markersInfo[i]);
        }
      </script>


      <script type="text/javascript">
        $(function() {
          var $form = $('#feedback');
          // $form.formValidation();
        });
      </script>
    </div>

  </div>
  <div class="col-md-1 col-xs-1"></div>
</div>