<div class="row">
  <% if getlocal == "zh_CN" %>
  <div class="col-md-12 col-xs-12">
    <div class="footer">
      <div style="display:inline-block;vertical-align:top;">
        <a href="http://www.scgswljg.gov.cn/iciaicweb/dzbscheck.do?method=change&amp;id=51150020150604064673"><%= image_tag "scgswljg.png",alt: "网络经济主体信息" %></a>
      </div>
      <div style="display:inline-block">
        <p>地址：上海市长宁区天山西路　　邮编：600000　　电话：400-000-0000　　传真：400-000-0000</p>
        ©2007-<%= Time.now.year %>
        **有限责任公司&nbsp;&nbsp;版权所有

      </div>
    </div>
  </div>
<% else %>
  <div class="col-md-12 col-xs-12">
    <div class="footer" style="margin-top:20px;">
      ©2007-<%= Time.now.year %>
      Sichuan Push Acetati Co.,Ltd.&nbsp;&nbsp;All rights reserved
      <!--&nbsp;&nbsp;<a href="/en/disclaimer" style="font-size:1em;color:#5c5c5c;">Disclaimer</a>-->
      <!--&nbsp;&nbsp;<a href="http://www.chinaido.com" target="_blank">(Designed by Chinaido)</a></div>-->
      </div>
  </div>
  <% end %>
</div>