<div class="row">
  <% if getlocal == "zh_CN" %>
  <div class="col-md-12 col-xs-12 <%= footer_calss%>">
    <div class="footer navbar-inverse">
        <p>地址：上海市长宁区天山西路</p>
        <p>邮编：600000</p>
        <p>电话：<a href="tel:400000000">400-000-0000</a></p>
        <p>传真：400-000-0000</p>
        <p>CopyRight &copy; <%= Date.today.year%> 李有平 赣ICP备17001675号-1</p>
    </div>
  </div>
<% else %>
  <div class="col-md-12 col-xs-12 <%= footer_calss%>">
    <div class="footer navbar-inverse">
      <p>Address: Tianshan West Road, Shanghai, Changning District</p>
      <p>Tel: <a href="tel:400000000">400-000-0000</a></p>
     <p> CopyRight &copy; <%= Date.today.year%> 李有平 赣ICP备17001675号-1s</p>
      </div>
  </div>
  <% end %>
</div>