<div class="row">
  <div class="col-lg-1 col-xs-1"></div>
  <div class="col-lg-10 col-xs-10">
    <h3 class="page-header">新增一级菜单</h3>
<%= form_for(@menu, {url: admins_level1_menus_path, role: "form"}) do |f| %>
    <%= render partial: 'form', locals: {menu: @menu, f: f} %>
<% end %>
  </div>
  <div class="col-lg-1 col-xs-1"></div>
</div>