<!DOCTYPE html>
<html>
<head>

  <title>Empcl</title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<!--导航-->
<%#= render partial: 'common/nav' %>
<!--banner图-->
<%#= render partial: 'common/banner' %>
<!--内容开始-->
<div class="container content-width">
  <%= yield %>
</div>
<!--内容结束-->
<!--页脚-->
<%#= render partial: 'common/footer' %>
</body>
</html>
